<% if bank_transfer_payment = @order.payments.from_bank_transfer.first %>

  <%= form_for bank_transfer_payment, html: { class: "bt_payment_form", style: "#{bank_transfer_payment.details_submitted? ? '' : 'display:none;'}" } do |f| %>
    <table>
      <tr>
        <td><%= Spree.t(:bank_attachment) %></td><td><%= f.file_field :bank_attachment, disabled: bank_transfer_payment.details_submitted? %></td>
      </tr>
    </table>
    
    <br>
    <% unless bank_transfer_payment.details_submitted? %>
      <%= f.submit "Submit", confirm: Spree.t(:confirm_details_submit)  %>
    <% end %>
  <% end %>
<% end %>
